/vendor
/node_modules

/.env
/.env.*
!/.env.example

/storage/*.key
/storage/app/private/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/bootstrap/cache/*

/.phpunit.cache
/coverage

/public/build
/public/hot

/docker-data

.DS_Store
.idea
